html {
    height: 100%;
}

body {
    margin: 0px;
    text-align: center;
    background-color: lavender;
/*     min-height: 100% */
}

div {
	margin: auto;
}

.cadre {
	width: 255px;
	border: solid 5px;
	padding: 15px;
	border-radius: 15px;
	margin: auto;
}

p.cadre {
	font-size: 2em;
}

:root {
  --turn : 0deg;
}

img#photo_actuelle{
	max-width: 100%;
    max-height: 100%;
    z-index: -1;
	position: absolute;
	left: 200px;
	top: 0px;
	-webkit-transform:rotate( var(--turn) );
	-moz-transform: rotate( var(--turn) );
	-ms-transform: rotate( var(--turn) );
	-o-transform: rotate( var(--turn) );
	transform: rotate( var(--turn) );
}


menu {
	left: 15px;
	padding: 0;
	width: 150px;
}

.button_view {
	display: inline-block;
	padding: 15px;
}
