/*
Copyright 2023 Clément PAGÈS

==========

D'après un travail d'Arnaud Durand https://www.mathix.org/macamdoc/

Licence  CC BY-NC-SA 2.0 FR https://creativecommons.org/licenses/by-nc-sa/2.0/fr/legalcode
*/

html {
    height: 100%;
}

body {
    margin: 0px;
    text-align: center;
    background-color: #f7f7f7;
}

/* *********************** */

:root {
  --turn : 0deg;
}

a {
    color: #1088bf;
}
a:hover {
    text-decoration: none;
    color: #520d35;
}

.button_view {
	display: inline-block;
	padding: 15px;
}

.cadre {
	width: 255px;
	border: solid 5px;
	padding: 15px;
	border-radius: 15px;
	margin: auto;
}

canvas#canvas {
	max-height: 100%;
	max-width: 100%;
	width: 70%;
    height: 100%;
	left: 200px;
}

p.cadre {
	font-size: 2em;
}

div {
	margin: auto;
}

footer {
	border-top: 1px dotted black;
	font-size: 0.85em;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 2.6rem;
	line-height: 50px;
	margin-bottom: 25px;
	padding-bottom: 3px;
	background: linear-gradient(to right, #fff, #f7f7f7);
	border-top: 1px solid #1088bf;
	padding-left: 1%;
	font-weight: 400;
	color: #520d35;
	text-decoration: none;
	border-bottom: 1px solid #1088bf;
}

h2 {
	color: #520d35;
	text-decoration: none;
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 2rem;
}

img#photo_actuelle{
	max-width: 100%;
    max-height: 100%;
    z-index: -1;
	position: relative;
	top: 0px;
	-webkit-transform:rotate( var(--turn) );
	-moz-transform: rotate( var(--turn) );
	-ms-transform: rotate( var(--turn) );
	-o-transform: rotate( var(--turn) );
	transform: rotate( var(--turn) );
}

menu {
	position: absolute;
	left: 15px;
	padding: 0;
	width: 150px;
	list-style-type: none;
}

menu li {
	padding: 5px;
}

video#video {
	max-height: 100%;
	max-width: 100%;
	width: 70%;
    height: 100%;
	left: 200px;
}

/*video#video {

	position: absolute;
	margin-left: auto;
	margin-right: auto;
	
	max-height: 50%;
	max-width: 100%;
	left: 200px;
	top: 0;
	border: 1px solid black;
}

canvas#canvas {

	position: absolute;
	max-height: 50%;
	max-width: 100%;
	left: 200px;
	top: 50%;
	border: 1px solid black;
}*/
